


<section id="newsletter" class="section-p1"class="section-m1 " >
    <div class="newstext">
      <h4>Sign Up For Newsletter</h4>
      <p>GEt E-mail updates about our latest shop and <span>special offers.</span></p>
  
    </div>
    <div class="form">
      <input type="text" placeholder="Your E-mail Address">
      <button class="normal">Sign Up</button>
    </div>
  
   </section>
  
  
  <footer  class="section-p1">
    <div class="col">
      <h3><i class="fa-brands fa-shopify"></i>jefsu</h3>
      <h4>Contact:-</h4>
      <p><strong>Address:</strong> </p>
      <p><strong>Phone:</strong> +918220203128</p>
      <p><strong>Hours:</strong>10:00- 18:00, Mon-Sat</p>

    

      <div class="follow">
        <h4>Follow Us:</h4>
      </div>
      
      <div class="icon">
        
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
  
      </div>
  
    </div>
  
  </footer>
  
