<!-- <section id="header">
  <h3><i class="fa-brands fa-shopify"></i>shopify</h3>
  <div>
      <ul id="navbar">
          <li><a  routerLink="/home"> home</a></li>
          <li><a  routerLink="shopnow" > shop</a></li>
          <li><a routerLink ="/cart" > cart</a></li>
           - <li><a routerLink="contact" >contact</a></li>
          <li><a routerLink="" ><i class="fa fa-bag-shopping"></i></a></li>   --> 
          <!-- <a routerLink="" id="close"><i class="fas fa-times"></i></a> -->
      <!-- </ul> 
   </div> -->
    <!-- <div id="mobile">
    <i id="bar" class="fas fa-outdent"></i> -->

  <!-- </div>   -->

<!-- </section>  -->

  <header>
    <div class="navbar  shadow-sm">
           
                
            
      <div   class="navbar-brand align-item-center d-flex">
            
            <strong  style="font-size: 30px;"><i class="fa-brands fa-shopify"></i>jefsu</strong>
              
            </div> 
             
            
             
        
        
     <ul id="navbar">
        
         <li> <a routerLink="/home"   style="font-size: 20px;"> home</a></li>

         <li><a  routerLink="/shopnow" style="font-size: 20px;" >shop</a> </li>
       
         <li><a  routerLink="/login"  style="font-size: 20px;" >login</a></li> 
     
         
            
         <li><a  style="font-size: 20px;" routerLink="/cart" >
        
        <i class="fas fa-cart-plus"> </i>
       <div style="font-size: 20px;"class="badge bg-danger"> {{totalItem}}</div>
          
       </a> </li>&nbsp; 
         </ul>  
        
         
        </div> 
        
     <!-- </div>  -->
    
  
           
    
</header> 
 

 

